<launch>
    <!-- Convert depth image to laser scan -->
    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
        <param name="range_min" type="double" value="0.3"/>
        <param name="range_max" type="double" value="10.0"/>
        <param name="scan_height" type="int" value="0"/>
        <remap from="image" to="/camera/depth/image_rect_raw"/>
        <remap from="camera_info" to="/camera/depth/camera_info"/>
    </node>

    <!-- Laser scan filter -->
    <node name="laser_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
        <rosparam param="scan_filter_chain">
            - name: angle
              type: laser_filters/LaserScanAngularBoundsFilter
              params:
                lower_angle: -0.261799
                upper_angle: 0.261799
            <!-- - name: median_filter
              type: laser_filters/MedianFilter
              params:
                  window_size: 5
                  max_allowed_jump: 1.0 -->
        </rosparam>
        <remap from="scan" to="/scan"/>
        <remap from="scan_filtered" to="/scan_filtered"/>
    </node>

    <node name="laser_scan_obstacle_detection" pkg="laser_scan_obstacle_detection" type="laser_scan_obstacle_detection" output="screen" />

</launch>