<launch>

<node pkg="forklift_server" type="gui.py" name="gui" output="screen">
    <!--Subscriber Topic setting/-->
    <param name="odom" value="/odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="tag_detections_up" value="/tag_detections_up" /><!--車體相機對位AprilTag Topic/-->
    <param name="tag_detections_down" value="/tag_detections_down" /><!--牙叉相機對位AprilTag Topic/-->
    <param name="forkpos" value="/forklift_pose" /><!--牙叉編碼器回傳Topic/-->

</node>
</launch>
