<launch>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <param name="odom" value="/odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="start_node" value="P1" />
    <rosparam param= "graph">
    {
        "P1":{"P2":1,"P3":8},
        "P2":{"P1":1,"P10":1},
        "P3":{"P4":1,"P8":1,"P9":2},
        "P4":{"P5":8},
        "P5":{"P6":1},
        "P6":{"P7":1},
        "P7":{"P8":8},
        "P8":{"P9":1},
        "P9":{"P10":8},
        "P10":{"P2":1}
    }
    </rosparam>
    <rosparam param= "waypoints">
    {
        "P1":[3.725,0.540,0.744,0.668],
        "P2":[3.725,0.540,-0.997,0.063],
        "P3":[3.376,2.347,0.737,0.676],
        "P4":[3.376,2.347,0.066,0.997],
        "P5":[5.161,2.573,0.053,0.998],
        "P6":[5.161,2.573,0.737,0.676],
        "P7":[5.161,2.573,-0.997,0.063],
        "P8":[3.376,2.347,-0.997,0.063],
        "P9":[3.376,2.347,-0.673,0.740],
        "P10":[3.725,0.540,-0.673,0.740]
    }
    </rosparam>
</node>
</launch>
