<launch>
<node pkg="forklift_server" type="Topology_map_server.py" name="TopologyMap_server" output="screen">
    <param name="odom" value="/odom" /><!--里程計 Topic（map -> base_link, 是tf相對關係, 非輪式里程計）/-->
    <param name="start_node" value="LoopPlace" />
    <rosparam param= "graph">
    {
        "LD1":{"LD2":4},
        "LD2":{"LD3":4},
        "LD3":{"LD4":4},
        "LD4":{"LD5":4},
        "LD5":{"LD6":4},
        "LD6":{"LD7":4},
        "LD7":{"LD8":4},
        "LD8":{"LoopPlace":4},
        "LoopPlace": {"Pick1":1, "LoopPlaceCorrect":4},
        "LoopPlaceCorrect": {"Place0":16},
        "Pick1": {"Pick2":2},
        "Pick2": {"Pick3Before":1},
        "Pick3Before": {"Pick4":1},
        "Pick4": {"Pick5":4},
        "Pick5": {"LoopPlace":4},
        "Place0": {"Place1":4},
        "Place1": {"Place2":4},
        "Place2": {"Place3Before":4},
        "Place3Before": {"Place4":4},
        "Place4": {"Place5":4},
        "Place5": {"LoopPick":4},
        "LoopPick": {"Pick0":4},
        "Pick0": {"Pick1":4},
        "s1": {"s2":4},
        "s2": {"s3":4},
        "s3": {"s4":4},
        "s4": {"s5":4},
        "s5": {"s6":4},
        "s6": {"s7":4},
        "s7": {"s8":4},
        "s8": {"s9":4},
        "s9": {"s1":4, "s8":1}
    }
    </rosparam>
    <rosparam param= "waypoints">
    {
        "LD1": [9.713,-0.352,0.000,1.000],
        "LD2": [9.713,-0.352,0.649,0.761],
        "LD3": [10.318,7.797,0.707,0.707],
        "LD4": [10.489,13.161,0.707,0.707],
        "LD5": [10.489,13.161,0.000,1.000],
        "LD6": [13.154,13.272,0.000,1.000],
        "LD7": [13.154,13.272,0.707,0.707],
        "LD8": [13.282,19.007,0.707,0.707],
        "LD9": [13.152,29.848,0.707,0.707],
        "LoopPlace": [12.228,34.329,0.707,0.707],
        "LoopPlaceCorrect": [12.228,37.282,0.707,0.707],
        "Pick1": [12.228,34.329,0,1],
        "Pick2": [14.267,34.329,0,1],
        "Pick3Before": [14.267,34.329,-0.707,0.707],
        "Pick3After": [14.274,35.536,-0.707,0.707],
        "Pick4": [14.267,34.329,1,0.01],
        "Pick5": [12.228,34.329,1,0.01],
        "Place0": [11.875,47.021,0.696,0.718],
        "Place1": [11.875,47.021,0,1],
        "Place2": [14.194,47.111,0,1],
        "Place3Before": [14.194,47.111,0.697,0.717],
        "Place4": [14.194,47.111,1,0],
        "Place5": [11.875,47.021,1,0],
        "LoopPick": [11.875,47.021,-0.707,0.707],
        "Pick0": [12.228,34.329,-0.707,0.707],
        "s1": [6.525,-0.220,-0.010,1.000],
        "s2": [6.525,-0.220,0.703,0.711,],
        "s3": [6.440,6.231,0.705,0.709],
        "s4": [6.440,6.231,1.000,0.004],
        "s5": [-5.555,6.011,1.000,0.004],
        "s6": [-5.555,6.011,-0.709,0.705],
        "s7": [-5.540,-0.460,-0.707,0.707],
        "s8": [-5.540,-0.460,0.012,1.000],
        "s9": [0.100,-0.293,0.000,1.000]
    }
    </rosparam>
</node>
</launch>
