<launch>
  <!--TF base_footprint to front/rear_camera_link-->
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_up_camera_link" args="0 0.035 0.5 -3.14 0 0  /base_link  /cameraUP_link 100 "/>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_down_camera_link" args="0 0.035 0.08 -3.14 0 0  /base_link  /cameraDOWN_link 100 "/>
  
  <!--Intel RealSense D435 Node-->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"          value="cameraUP"/>
    <arg name="serial_no"       value="050422070702"/>
    <!-- <arg name="align_depth"     value="true"/> -->
    <!-- <arg name="filters"         value="pointcloud,decimation"/> -->
    <arg name="publish_odom_tf" value="false"/>
  </include>

  
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"          value="cameraDOWN"/>
    <arg name="serial_no"       value="048522070636"/> -->
    <!-- <arg name="align_depth"     value="true"/> -->
    <!-- <arg name="filters"         value="pointcloud,decimation"/> -->
    <!-- <arg name="publish_odom_tf" value="false"/>
  </include> -->

</launch>