<launch>
  <!-- Cameras -->

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera"          value="cameraDOWN" />
    <arg name="serial_no"       value="153122076971" />
    <arg name="align_depth"     value="true" />
    <arg name="filters"         value="pointcloud,decimation" />
    <arg name="publish_odom_tf" value="false"/>
    <arg name="depth_width"         default="848"/>
    <arg name="depth_height"        default="480"/>
    <arg name="enable_depth"        default="true"/>
    <arg name="color_width"         default="1280"/>
    <arg name="color_height"        default="720"/>
    <arg name="enable_color"        default="true"/>
    <arg name="depth_fps"           default="15"/>
    <arg name="color_fps"           default="15"/>
  </include>
      
</launch>
